[Match]
Name=e*
[Network]
DHCP=ipv4
IPv6AcceptRA=no
LinkLocalAddressing=no
# to use static IP uncomment these instead of DHCP
#Address=192.168.1.86/24
#Gateway=192.168.1.1
[DHCP]
RouteMetric=10
UseDomains=yes
